/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.cafe{
    &__inner{
        padding: 50px 150px;
	}
}

.popular{
    &__item{
        flex-basis: 22%;
    }
}

.side{
	display: block;
}